.flex {
    display: flex;
}

.fd-col {
    flex-direction: column;
}

.c-align {
    align-items: center;
}
.j-c {
    justify-content: center;
}
.t-b {
    border: solid red 2px;
    margin: 3px;
}

.bg-black {
    background-color: black;
    color: white;
}

.invert {
    filter: invert(1);
}

::-webkit-scrollbar {
    width: 10px; /* Width of the scrollbar */
}

/* Styles for the scrollbar thumb */
::-webkit-scrollbar-thumb {
    background-color: #555; /* Color of the thumb */
    border-radius: 10px; /* Rounded corners of the thumb */
}

/* Styles for the scrollbar track */
::-webkit-scrollbar-track {
    background-color: #333; /* Color of the track */
}



.body {
    background-color: #333; /* Dark background color for the body */
    color: #fff; /* Light text color */
    font-family: Arial, sans-serif; /* Font family */
}

.song-list {
    height: 35vh;
    margin: 0 auto;
    padding: 20px;
    overflow-y: auto;
}

.song-list ul {
    list-style-type: none; /* Remove default list styles */
    padding: 0;
}

/* Counter styles */
.song-list ul li {
    counter-increment: list-counter; /* Increment the counter for each list item */
}

/* Serial number styles */
.song-list ul li::before {
    /* content: counter(list-counter);  */
    font-weight: bold; /* Make the serial number bold */
    margin-right: 10px; /* Add some space between the serial number and the list item */
}

.song-list ul li {
    display: flex;
    gap: 0 10px;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0; /* Add some vertical padding */
    border-bottom: 1px solid #555; /* Border bottom for each song */
}

.song-list ul li:last-child {
    border-bottom: none; /* Remove border bottom for the last song */
}

.song-list ul li:hover {
    background-color: #444; /* Darker background color on hover */
    cursor: pointer; /* Change cursor to pointer on hover */
}



.card {
    width: 250px;
    background-color: #222;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.card img {
    width: 100%;
    height: auto;
    border-bottom: 1px solid #444;
}

.card-content {
    padding: 5px;
}

.card-content h2 {
    font-size: 20px;
    margin-top: 0px;
    color: #fff;
}

.card-content p {
    color: #ccc;
}

.card-content button {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.card-content button:hover {
    background-color: #45a049;
}

@media screen and (max-width: 1000px) {
    .card {
        width: 80vw;
        margin-top: 20px;
    }
}